    body {
		
		font-family: 'Libre Baskerville', serif;
      
    }

	a:hover {
		cursor: pointer;
	}

	.ColouredContainer {
		animation: colorchange 50s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s infinite; /* Chrome and Safari */
	}

    @keyframes colorchange
    {
      0%   {background: #e2f5fd;}
      25%  {background: #fde2f8;}
      50%  {background: #e2fde8;}
      75%  {background: #fdfce2;}
      100% {background: #e2f5fd;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #e2f5fd;}
      25%  {background: #fde2f8;}
      50%  {background: #e2fde8;}
      75%  {background: #fdfce2;}
      100% {background: #e2f5fd;}
    }





.ControlledWidth {
	display: block;
	margin: 0 auto;
	width: 1000px;
}



/*Header*/


.HeaderLogo {
	display: block;
	margin: 0 auto;
	width: 620px;
	padding: 62px 12px 56px 0;
	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller .HeaderLogo {
	
	display: block;
	margin: 0 auto;
	width: 500px;
	padding: 42px 12px 36px 0;
	
}

nav {
	border-bottom: solid #000 1px;
	overflow: hidden;
}

nav ul {
	overflow: hidden;
}

	nav ul a {
		float: left;
		padding-top: 1px;
	}

	nav ul a:hover {
		border-top: solid #000 1px;
		cursor: crosshair;
		padding-top: 0px;
	}

	nav ul #currentPage {
		border-top: solid #000 1px;
		padding-top: 0px;
	}

	nav ul a {
		text-decoration: none;
		color: #000;
	}

		nav li {
			font-style: italic;
			width: 250px;
			text-align: center;
			padding: 20px 0;
		}

		nav li:hover {
			cursor: crosshair;
		}



/*HomepageSlider*/


.HomepageSlider {
	margin-top: 54px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



/*Homepage About*/


.HomeAbout {
	padding: 100px 0;
	
}

	.HomeAbout h1 {
		font-style: italic;
		font-size: 58px;
		line-height: 86px;
		text-align: center;
	}

	.HomeAbout h1 a {
		color: #000;
		border-bottom: solid #000 1px;
		text-decoration: none;
		padding: 7px 0;
	}

		.HomeAbout h1 a:hover {
/*
		color: #32debd;
		border-bottom: solid #32debd 1px;
*/
		cursor: crosshair;
		border-top: solid #000 1px;
	}



/*Featured Projects*/

.FeaturedProjects {
	overflow: hidden;
	margin-top: 100px;
}

.FeaturedProjects .Left,
.FeaturedProjects .Right {
	width: 48.5%;
	float: left;
}

.FeaturedProjects .Left {
	margin-right: 3%;
}

.FeaturedProjects .MainViewProject img {
	width: 100%;
}

.FeaturedProjects h2 {
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 0.01em;
	text-align: center;
	font-weight: 700;
	margin-bottom: 12px;
}

.FeaturedProjects h3 {
	font-size: 25px;
	letter-spacing: 0.03em;
	text-align: center;
	font-style: italic;
	margin-bottom: 24px;
}
	
.MainViewProject {
	margin-bottom: 50px;
}




/*Footer*/


footer {
	background: #fff;
	padding: 60px 0;
	text-align: center;
}

	footer a {
		text-decoration: none;
		color: #000;
		font-style: italic;
		font-size: 20px;
		letter-spacing: 0.03em;
	}

	footer a:hover {
		text-decoration: underline;
	}


		footer .SocialMedia {
			padding-top: 24px;
			margin: 0 auto;
			overflow: hidden;
			width: 104px;
		}

			footer .SocialMediaCircle {
				width: 40px;
				height: 40px;
				float: left;
				margin: 0 5px;
				border: solid #fff 1px;
				
				
				animation: colorchange 50s infinite; /* animation-name followed by duration in seconds*/
				/* you could also use milliseconds (ms) or something like 2.5s */
				-webkit-animation: colorchange 50s infinite; /* Chrome and Safari */
			}

			footer .SocialMediaCircle:hover {
				border: solid #000 1px;
				background: #fff;
			}

				footer .FacebookFooterIcon {
					width: 15px;
					margin-top: 12px;
				}

				footer .InstagramFooterIcon {
					width: 20px;
					margin-top: 10px;
				}








