/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Landscape)
    #Mobile (Portrait)
    #Clearing */



/* #Base 960 Grid
================================================== */

	.displayNone {
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s;
	}

	.displayBlock {
		opacity: 1;
		visibility: visible;
		transition: all 0.4s;
	}

    .mainContainer {
    	width: 100%;
    	max-width: 100%;
    	background-color: #F7F8F8;
    }
    
    h1, h2, h3, h4, a {
    	font-family: 'Alegreya', serif;
    	font-weight: 400;
    	color: #231F20;
    }
    
    a {
    	text-decoration: none;
    }
    
    .container { 
    	
    	position: relative; 
		width: 870px; 
		margin: 0 auto; 
		padding: 0; 
		font-family: 
		normal 100% 'Lato', 
		sans-serif; 
		z-index: 1;
    	
    }
   
	.fullwidthimage {
		width: 100%:
	}



    header {
    	width: 100%;
    	height: 54px;
    	padding: 16px 0 0px 0;
    	position: fixed;
		top: 0;
    	z-index: 5;
    	border-bottom: solid 1px #000;
		background: #fff;
    }
    
    header .logo {
    	float: left;
		width: 40px;
		margin-top: -2px;
    }
    
    	header nav {
    		margin: 0px auto 0 auto;
    		width: 27.2em;
			
/*			border: solid 1px;*/
    	}
    	
    	header nav ul {
    		overflow: hidden;
    	}
    	
    		header nav li {
    			float: left;
    		}
    		
	    		header nav li a {
	    			text-decoration: none;
	    			
	    		}
	    		
	    			header nav li h3 {
	    				font-size: 13px;
	    				margin-right: 60px;
	    				color: #b5b5b5;
                        font-weight: 700;
						letter-spacing: 0.14em;
 						text-transform: uppercase;
						font-family: 'Lato', sans-serif;
	    			}
	    			
	    			header nav li .last {
	    				margin-right: 0;
	    			}
	    			
	    			header nav h3:hover {
	    				color: #909090;
	    			}

					header nav li .active {
	    				color: #333333;
						font-weight: 900;
						letter-spacing: 0.133em;
	    			}
	    			
	    			
	    			
	    header .fb-share-button  {
	    	float: right;
	    	width: 80px;
	    	margin-top: -67px;
            display: none;
	    }	


@media (min-width: 754px) {
		
		header .fb-share-button  {
	    	display: block;
	    }
}

        

		#openBurgerMenu {
			height: 20px;
			float: right;
			margin-top: 9px;
		}

		#closeBurgerMenu {
			width: 22px;
			float: right;
			margin-top: 8px;
			margin-right: -26px;
			z-index: 95;
		}

		header .mobileMenuToggle:hover {
			cursor: pointer;
		}

		
		#mobileMenu {
			height: 100%;
			width: 100%;
			background-color: #fff;
			position: fixed;
			top: 0;
			z-index: 4;
		}



	#mobileMenu nav {
		margin-top: 120px;
		text-align: center;
		text-transform: uppercase;
	}

		#mobileMenu nav a {
			text-decoration: none;
			color: #fff;
			font-size: 20px;
		}

		#mobileMenu nav a:hover {
			color: #c6c6c6;
		}

		#mobileMenu nav li {
			margin-bottom: 20px;
		}
	    

/* Larger than mobile */
@media (min-width: 754px) {
	
	
	
	header nav, #HeaderNavResponsive {
		display: block;
	}
	
	header #openBurgerMenu {
		visibility: hidden;
	}
	
	
	
	
}
	    
	 		
	    			
	    			
	.intro {
		padding-top: 120px;
	}
	
	
	
		
	
	.work {
		padding-top: 64px;
	}
	
	
	.work section {
		border-bottom: solid 1px rgba(0,0,0,0.1);
		overflow: hidden;
		
		padding: 66px 0;
		
		
		-webkit-transition: background-color 0.2s ease-in-out;
		     -moz-transition: background-color 0.2s ease-in-out;
		     -o-transition: background-color 0.2s ease-in-out;
		     -ms-transition: background-color 0.2s ease-in-out;
		     transition: background-color 0.2s ease-in-out;
		
	}
	
	.work section:hover {
		
		background: #FED500;
		cursor: pointer;
		
	}
	
		.work section .projectImage {
			width: 474px;
			height: 243px;
			float: left;
			border: solid 1px rgba(0,0,0,0.1);
			background-repeat:no-repeat;
		}
	
		.work section .projectInfo {
			
			width: 30%;
			float: right;
			
			padding: 90px 50px 66px 50px;
			
			/*border: solid 1px;*/
			
		}
		
			.work section .projectInfo h2 {
				
				color: #111;
				margin-bottom: -4px;
				
				font-size: 32px;
				
				line-height: 32px;
				
				font-family: 'Alegreya', serif;
				font-weight: 700;
				
			}
			
			.work section .projectInfo h3 {
				
				color: #111;
				margin-top: 8px;
				
				font-size: 20px;
				
				font-family: 'Alegreya', serif;
				font-weight: 400;
				
			}
			
			
			/* Animation Containers */


			.work #captifyDmexcoAnimation {
			
				background-image:url('../img/work/captifyDmexco/slider/captifyDmexco960.gif');
				
			}
            

            .work #molAnimation {
			
				background-image:url('../img/work/mol/slider/mol960.gif');
				
			}

            .work #zawyaAnimation {
			
				background-image:url('../img/work/zawya/slider/zawya960.gif');
				
			}
			
			.work #elre7laAnimation {
			
				background-image:url('../img/work/elre7la/slider/elre7la960.gif');
				
			}
			
			.work #inReminiscenceAnimation {
			
				background-image:url('../img/work/inReminiscence/slider/inReminiscence960.gif');
				
			}
			
			.work #tedxgucAnimation {
			
				background-image:url('../img/work/tedxguc/slider/tedxguc960.gif');
				
			}
			
			.work #theGodImageAnimation {
			
				background-image:url('../img/work/theGodImage/slider/theGodImage960.gif');
				
			}
			
			.work #scfAnimation {
			
				background-image:url('../img/work/scf/slider/scf960.gif');
				
			}
			
			
			.work #timeBombAnimation {
			
				background-image:url('../img/work/timeBomb/slider/timeBomb960.gif');
				
			}
			
			.work #bondoqAnimation {
			
				background-image:url('../img/work/bondoq/slider/bondoq960.gif');
				
			}
			
			.work #cinemagraphsAnimation {
			
				background-image:url('../img/work/cinemagraphs/slider/cinemagraphs960.gif');
				
			}
			
			.work #digitalPaintingsAnimation {
			
				background-image:url('../img/work/digitalPaintings/slider/digitalPaintings960.gif');
				
			}
	
	
	
	/* Projects */
	
	.project {
		padding-top: 72px;
	}
	
		.project #projectNav {
			padding: 26px 0;
			height: 14px;
			width: 100%;
			overflow: hidden;
			border-bottom: solid 1px rgba(0,0,0,0.6);
			margin-bottom: 40px;
		}
		
			.project #projectNav #before {
				float: left;
			}
			
			.project #projectNav #after {
				float: right;
			}
			
			.project #projectNav #before, 
			.project #projectNav #after {
				opacity: 0.8;
				width: 31px;
				margin-top: -9px;
			}
			
			.project #projectNav #before:hover, 
			.project #projectNav #after:hover {
				opacity: 1;
			}
			
			.project #projectNav h2 {
				text-align: center;
				
				color: #111;
				margin-top: -15px;
				
				font-size: 22px;
				
				/*text-align: center;*/
				
				font-family: 'Lato', sans-serif;
				font-weight: 300;
			}
			
			
	
	.project iframe {
		width: 870px;
		height: 489px;
	}
	
	.project section img {
		width: 100%;
		margin-bottom: 40px;
	}
	
	/* Cinemagraph Images */
	
	/*.cinemagraphs section {
		border: solid 1px;
	}*/
	
	.cinemagraphs section img {
		width: auto;
		margin-bottom: -2px;
	}
	
	.cinemagraphs section img:nth-child(1),
	.cinemagraphs section img:nth-child(2) {
		height: 383px;
	}
	
	.cinemagraphs section img:nth-child(3),
	.cinemagraphs section img:nth-child(4) {
		height: 230px;
	}
	
	.cinemagraphs section img:nth-child(5),
	.cinemagraphs section img:nth-child(6) {
		height:253px;
	}
	
	.cinemagraphs section img:nth-child(7){
		height: 347px;
		
		margin-bottom: 20px;
	}
	
	.cinemagraphs section img:nth-child(8){
		height: 348px;
		
		margin-bottom: 20px;
	}
	
	
	.project #text {
		
		width: 500px;
		margin: 20px auto 100px auto;
	
	}
	
	.project section p {
	
		font-size: 18px;
		line-height: 28px;
		
		padding: 10px 0 0px 0;
		
		margin: 0;
		
		font-family: 'Alegreya', serif;
		font-weight: 400;
		
	}
	
	.project section h2 {
	
		font-size: 16px;
		letter-spacing: 1px;
		
		padding: 20px 0 0px 0;
		
		margin: 0;
		
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		
        text-transform: uppercase;
	}
	
	.project section p a {
	
		font-weight: 700;
		
		margin: 0;
		
		overflow: hidden;
		
	}
	
	.project section p a:hover {
	
		text-decoration: underline;
		
	}
	
	.project #text p a .arrow {
	
		width: 40px;
		float: left;
		margin: 11px 14px 0 0;
		
	}
	
	
	
	/* About */

	.aboutcoverimage {
		width: 100%;
		margin-top: 136px;
	}
	
	.about section img {
		width: 100%;
	}	
	
	.about section p {
	
		width: 29em;
		
		font-size: 16px;
		line-height: 24px;	
		
		margin: 60px auto;
		
		padding: 20px 0;
		
		border-top: solid 1px #111;
		
		font-family: 'Alegreya', serif;
		font-weight: 400;
		
		
	}

    .about #aboutIntro {
        font-weight: 700;
        border-top: none;
        color: #000;
    }

	.about #aboutIntro img {
        margin: 30px 0;
    }

	.about #aboutIntro span {
        text-decoration: line-through;
    }

	.about section p a, .about section h1 {
	
		font-weight: 700;
		
	}
	
	.about section p a:hover {
	
		text-decoration: underline;
		
	}


	
	
	footer {
		border: solid 8px #FED500;
		background: #fff;
		
		overflow: hidden;
		
		padding: 40px;
	}
		
		footer > div > div {
			width: 32%;
			float: left;
			margin-right: 2%;
		}
		
		footer >div > .last {
			margin-right: 0;
		}
		
			footer h3 {
				color: #111;
				margin-bottom: 24px;
				
				font-size: 20px;
				
				font-family: 'Alegreya', serif;
    			font-weight: 700;
				
				text-transform: uppercase;
			}
			
			footer p {
				font-family: 'Alegreya', serif;
    			font-weight: 400;
				
				color: #444444;
				
				font-size: 14px;
				line-height: 1.5em;
				
				margin: 0;
				
				max-width: 22em;
			}
			
				footer p a {
					text-decoration: none;
					color: #000000;
				}
				
				footer p a:hover {
					text-decoration: underline;
					
				}
				
				footer #copyright {
					margin-top: 50px;
					margin-bottom: 4px;
				}
				
				footer #contact {
					margin-top: 34px;
				}
				
				
				
				footer form {
					width: 100%;
				}
				
				footer form .input, footer form textarea {
					background: #F0F2F1;
					border: none;
					margin-bottom: 10px;
					
					font-size: 12px;
					font-weight: 300;
					
					color: #444444;
					
					padding: 10px;
					
					border-radius: 0;
					
					width: 257px;
				}
				
				footer form .input:focus, footer form textarea:focus {
					border: none;
				}
				
				footer form textarea {
					height: 83px;
					resize:vertical;
				}
				
				footer form #submit {
					background: #000;
					color: #FFF;
					
					margin: 0;
					border: none;
					
					
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0;
					
					
					width: 100%;
					text-shadow: none;
					
					font-weight: 300;
					
					padding: 10px;
					
					width: 100%;
					
					-webkit-transition: all 0.1s ease-in-out;
					     -moz-transition: all 0.1s ease-in-out;
					     -o-transition: all 0.1s ease-in-out;
					     -ms-transition: all 0.1s ease-in-out;
					     transition: all 0.1s ease-in-out;
				}
				
				footer form #submit:hover {
					background: #FED500;
					color: #000;
				}



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (max-width: 959px) {
    
    
    	body {
    		min-width: 754px;
    	}
    	
    	.container { 
    		width: 660px;
    	}
    	
    	
        .project iframe {
        	width: 660px;
        	height: 371px;
        }
        
        
        
        
        
        
        .work section {
        	
        	padding: 66px 0 36px 0;
        	
        }
        
        
        .work section .projectImage {
    		
    		width: 474px;
    		height: 243px;
    		float: none;
    		
    		margin: 0 auto;
    		
    		border: solid 1px rgba(0,0,0,0.1);
    		background-repeat:no-repeat;
    		
        	}
        
    	.work section .projectInfo {
    		
    		width: 474px;
    		float: none;
    		
    		margin: 0 auto;
    		
    		padding: 26px 0px 10px 0px;
    		
    		/*border: solid 1px rgba(0,0,0,0.1);*/
    		
    	}
    	
    		.work section .projectInfo h2 {
    			
    			font-size: 28px;
    			
    			line-height: 25px;
    			
    		}
		
			.project #text {
		
				width: 410px;

			}
		
		
    		
    		.cinemagraphs section img {
    			width: auto;
    			margin-bottom: -2px;
    		}
    		
    		.cinemagraphs section img:nth-child(1),
    		.cinemagraphs section img:nth-child(2) {
    			height: 290px;
    		}
    		
    		.cinemagraphs section img:nth-child(3),
    		.cinemagraphs section img:nth-child(4) {
    			height: 174px;
    		}
    		
    		.cinemagraphs section img:nth-child(5) {
    			height:191px;
    		}
    		
    		.cinemagraphs section img:nth-child(6) {
    			height:192px;
    		}
    		
    		.cinemagraphs section img:nth-child(7),
    		.cinemagraphs section img:nth-child(8){
    			height: 263px;
    			
    			margin-bottom: 20px;
    		}
    	
    	
    	
    	
    	
 		.about section p {
 			margin: 50px auto;
 		}
        
        
        
        
        
        
        footer #contact {
			margin-top: 34px;
		}
		
		footer > div > div {
			width: 50%;
			float: left;
			margin-right: 0;
			margin-top: 340px;
		}
		
		footer > div .last {
			width: 660px;
			margin-top: -660px;
		}
		
		footer form .input, footer form textarea {
			width: 640px;
		}


	
/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (max-width: 754px) {
        
        
        body {
        	min-width: 440px;
        }
        
        
        .container { width: 410px;}

    	
		header nav {
        	display: none;
        }
    	
    	
    	.work, .project {
    		padding-top: 72px;
    	}
    	
    	
    	
    	.work section {
    		
    		padding: 44px 0 24px 0;
    		
    	}
    	
    	
    	.work section .projectImage {
    			width: 408px;
    			height: 210px;
    		}
    	
    		.work section .projectInfo {
    			
    			width: 410px;
    			float: none;
    			
    			margin: 0 auto;
    			
    			padding: 26px 0px 0px 0px;
    			
    			/*border: solid 1px rgba(0,0,0,0.1);*/
    			
    		}
    		
    			.work section .projectInfo h2 {
    				
    				margin-bottom: -4px;
    				
    				font-size: 28px;
    				
    				line-height: 25px;
    				
    			}
    	
    	
    	
    	
    	
    	
    	/* Animation Containers */
    	
    	
        .work #captifyDmexcoAnimation {
    	
    		background-image:url('../img/work/captifyDmexco/slider/captifyDmexco410.gif');
    		
    	}
		
		.work #molAnimation {
    	
    		background-image:url('../img/work/mol/slider/mol410.gif');
    		
    	}
    	
    	.work #zawyaAnimation {
    	
    		background-image:url('../img/work/zawya/slider/zawya410.gif');
    		
    	}
        
        .work #elre7laAnimation {
    	
    		background-image:url('../img/work/elre7la/slider/elre7la410.gif');
    		
    	}
    	
    	.work #inReminiscenceAnimation {
    	
    		background-image:url('../img/work/inReminiscence/slider/inReminiscence410.gif');
    		
    	}
    	
    	.work #tedxgucAnimation {
    	
    		background-image:url('../img/work/tedxguc/slider/tedxguc410.gif');
    		
    	}
    	
    	.work #theGodImageAnimation {
    	
    		background-image:url('../img/work/theGodImage/slider/theGodImage410.gif');
    		
    	}
    	
    	.work #scfAnimation {
    	
    		background-image:url('../img/work/scf/slider/scf410.gif');
    		
    	}
    	
    	.work #timeBombAnimation {
    	
    		background-image:url('../img/work/timeBomb/slider/timeBomb410.gif');
    		
    	}
    	
    	.work #bondoqAnimation {
    	
    		background-image:url('../img/work/bondoq/slider/bondoq410.gif');
    		
    	}
    	
    	.work #cinemagraphsAnimation {
    	
    		background-image:url('../img/work/cinemagraphs/slider/cinemagraphs410.gif');
    		
    	}
    	
    	.work #digitalPaintingsAnimation {
    	
    		background-image:url('../img/work/digitalPaintings/slider/digitalPaintings410.gif');
    		
    	}
    	
    	
    	
    	
    	
    	.about section p {
    		width: 410px;
    		margin: 40px auto;
    	}
    	
    	
    
	    .project iframe {
	    	width: 410px;
	    	height: 231px;
	    }
	    
	    
	    
	    /* Cinemagraph Images */
	    
	    
	    .cinemagraphs section img {
	    	width: auto;
	    	margin-bottom: -2px;
	    }
	    
	    .cinemagraphs section img:nth-child(1),
	    .cinemagraphs section img:nth-child(2),
	    .cinemagraphs section img:nth-child(3),
	    .cinemagraphs section img:nth-child(4),
	    .cinemagraphs section img:nth-child(5),
	    .cinemagraphs section img:nth-child(6),
	    .cinemagraphs section img:nth-child(7),
	    .cinemagraphs section img:nth-child(8) {
	    	width: 410px;
	    	height: auto;
	    	margin-bottom: -2px;
	    }
	    
	    .cinemagraphs section img:nth-child(8) {
	    	margin-bottom: 20px;
	    }
	    
	    
	    
	    footer {
	    	padding: 50px 15px;
	    }
	    
	    footer #contact {
	    	margin-top: 34px;
	    }
	    
	    footer > div .last {
	    	width: 410px;
	    	margin-top: -660px;
	    }
	    
	    footer form .input, footer form textarea {
	    	width: 390px;
	    }



/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 440px) {
        
        
        body {
        	min-width: 300px;
        }
        
        .container { width: 270px;}
        
        
        header nav {
        	margin:  0;
        	float: right;
        }
        
        
        header .fb-share-button {
        	display: none;
        }
        
          
        
        
        .work section {
        	
        	padding: 40px 0 20px 0;
        	
        }
        
        
        .work section .projectImage {
        		width: 268px;
        		height: 139px;
        	}
        
        	.work section .projectInfo {
        		
        		width: 270px;
        		
        		padding: 26px 0px 0px 0px;
        		
        		/*border: solid 1px rgba(0,0,0,0.1);*/
        		
        	}
        	
        		.work section .projectInfo h2 {
        			
        			margin-bottom: -12px;
        			
        			font-size: 22px;
        			
        			line-height: 24px;
        			
        		}
        		
        		.work section .projectInfo h3 {
        			
        			font-size: 14px;
        			
        		}
        
		.project section p {
			font-size: 16px;
			line-height: 27px;
		}
        
        
        
        
        
        /* Animation Containers */
        
        
        .work #captifyDmexcoAnimation {
    	
    		background-image:url('../img/work/captifyDmexco/slider/captifyDmexco270.gif');
    		
    	}
		
		.work #molAnimation {
        
        	background-image:url('../img/work/mol/slider/mol270.gif');
        	
        }
        
        .work #zawyaAnimation {
        
        	background-image:url('../img/work/zawya/slider/zawya270.gif');
        	
        }
        
        .work #elre7laAnimation {
        
        	background-image:url('../img/work/elre7la/slider/elre7la270.gif');
        	
        }
        
        .work #inReminiscenceAnimation {
        
        	background-image:url('../img/work/inReminiscence/slider/inReminiscence270.gif');
        	
        }
        
        .work #tedxgucAnimation {
        
        	background-image:url('../img/work/tedxguc/slider/tedxguc270.gif');
        	
        }
        
        .work #theGodImageAnimation {
        
        	background-image:url('../img/work/theGodImage/slider/theGodImage270.gif');
        	
        }
        
        .work #scfAnimation {
        
        	background-image:url('../img/work/scf/slider/scf270.gif');
        	
        }
        
        .work #timeBombAnimation {
        
        	background-image:url('../img/work/timeBomb/slider/timeBomb270.gif');
        	
        }
        
        .work #bondoqAnimation {
        
        	background-image:url('../img/work/bondoq/slider/bondoq270.gif');
        	
        }
        
        .work #cinemagraphsAnimation {
        
        	background-image:url('../img/work/cinemagraphs/slider/cinemagraphs270.gif');
        	
        }
        
        .work #digitalPaintingsAnimation {
        
        	background-image:url('../img/work/digitalPaintings/slider/digitalPaintings270.gif');
        	
        }
        
        
        
        .project #projectNav {
        	width: 270px;
        }
    
    
    
	    .project iframe {
	    	width: 270px;
	    	height: 152px;
	    }
	    
	    
	    .project #text {
	    	
	    	width: 270px;
	    	margin: 20px auto 100px auto;
	    
	    }
	    
	    
	    
	    /* Cinemagraph Images */
	    
	    
	    .cinemagraphs section img {
	    	width: auto;
	    	margin-bottom: -2px;
	    }
	    
	    .cinemagraphs section img:nth-child(1),
	    .cinemagraphs section img:nth-child(2),
	    .cinemagraphs section img:nth-child(3),
	    .cinemagraphs section img:nth-child(4),
	    .cinemagraphs section img:nth-child(5),
	    .cinemagraphs section img:nth-child(6),
	    .cinemagraphs section img:nth-child(7),
	    .cinemagraphs section img:nth-child(8) {
	    	width: 270px;
	    	height: auto;
	    	margin-bottom: -2px;
	    }
	    
	    .cinemagraphs section img:nth-child(8) {
	    	margin-bottom: 20px;
	    }
	    
	    
	    
	    
	    #bike {
	    	width: 200px;
	    	margin-left: -100px;
	    }
	    
	    
	    .about section p {
	    	width: 270px;
	    	margin: 30px auto;
	    }
	    
	    
	    
	    
	    footer {
	    	padding: 30px 10px 20px 10px;
	    }
	    
	    footer #contact {
	    	margin-top: 20px;
	    }
	    
	    footer > div > div {
	    	width: 100%;
	    	
	    	margin-top: 0px;
	    	margin-bottom: 20px;
	    }
	    
	    footer > div .last {
	    	width: 270px;
	    	margin-top: 0;
	    	margin-bottom: 0px;
	    }
	    
	    footer form .input, footer form textarea {
	    	width: 250px;
	    }
	    
	    
	  
/*  #Mobile (Small Phone)
================================================== */

    /* Note: Design for a width of 240px */

    @media only screen and (max-width: 240px) {
        
        
        body {
        	min-width: 180px;
        }
        
        
        .container { width: 200px;}
        
        
        header {
        	height: 100px;
        }
        
        header nav {
        	margin: 10px auto 0 auto;
        }
        
        header .fb-share-button {
        	display: none;
        }
        
        
        
        .work, .project {
        	padding-top: 114px;
        }
        
        
        /* Cinemagraph Images */
        
        
        .cinemagraphs section img {
        	width: auto;
        	margin-bottom: -2px;
        }
        
        .cinemagraphs section img:nth-child(1),
        .cinemagraphs section img:nth-child(2),
        .cinemagraphs section img:nth-child(3),
        .cinemagraphs section img:nth-child(4),
        .cinemagraphs section img:nth-child(5),
        .cinemagraphs section img:nth-child(6),
        .cinemagraphs section img:nth-child(7),
        .cinemagraphs section img:nth-child(8) {
        	width: 200px;
        	height: auto;
        	margin-bottom: -2px;
        }
        
        .cinemagraphs section img:nth-child(8) {
        	margin-bottom: 20px;
        }
        
        
        
        
        
        .work section {
        	
        	padding: 30px 0 10px 0;
        	
        }
        
        
        .work section .projectImage {
        		width: 198px;
        		height: 103px;
        	}
        
        	.work section .projectInfo {
        		
        		width: 200px;
        		
        		padding: 26px 0px 10px 0px;
        		
        		/*border: solid 1px rgba(0,0,0,0.1);*/
        		
        	}
        	
        		.work section .projectInfo h2 {
        			
        			margin-bottom: -4px;
        			
        			font-size: 22px;
        			
        			line-height: 24px;
        			
        		}
        		
        		.work section .projectInfo h3 {
        			
        			font-size: 14px;
        			
        			line-height: 20px;
        			
        		}
        
        
        
        
        
        
        /* Animation Containers */
        
        
        
        .work #captifyDmexcoAnimation {
    	
    		background-image:url('../img/work/captifyDmexco/slider/captifyDmexco200.gif');
    		
    	}
		
		.work #molAnimation {
        
        	background-image:url('../img/work/mol/slider/mol200.gif');
        	
        }
        
        .work #zawyaAnimation {
        
        	background-image:url('../img/work/zawya/slider/zawya200.gif');
        	
        }
        
        .work #elre7laAnimation {
        
        	background-image:url('../img/work/elre7la/slider/elre7la200.gif');
        	
        }
        
        .work #inReminiscenceAnimation {
        
        	background-image:url('../img/work/inReminiscence/slider/inReminiscence200.gif');
        	
        }
        
        .work #tedxgucAnimation {
        
        	background-image:url('../img/work/tedxguc/slider/tedxguc200.gif');
        	
        }
        
        .work #theGodImageAnimation {
        
        	background-image:url('../img/work/theGodImage/slider/theGodImage200.gif');
        	
        }
        
        .work #scfAnimation {
        
        	background-image:url('../img/work/scf/slider/scf200.gif');
        	
        }
        
        .work #timeBombAnimation {
        
        	background-image:url('../img/work/timeBomb/slider/timeBomb200.gif');
        	
        }
        
        .work #bondoqAnimation {
        
        	background-image:url('../img/work/bondoq/slider/bondoq200.gif');
        	
        }
        
        .work #cinemagraphsAnimation {
        
        	background-image:url('../img/work/cinemagraphs/slider/cinemagraphs200.gif');
        	
        }
        
        .work #digitalPaintingsAnimation {
        
        	background-image:url('../img/work/digitalPaintings/slider/digitalPaintings200.gif');
        	
        }
        
        
        
        .project #projectNav {
        	width: 200px;
        }
        
        
    	.project #projectNav h2 {
    		display: none;
    	}
    
    
	    .project iframe {
	    	width: 200px;
	    	height: 113px;
	    }
    
    
    	.project #text {
    		
    		width: 200px;
    		margin: 20px auto 100px auto;
    	
    	}
    	
    	
    	#bike {
    		width: 160px;
    		margin-left: -80px;
    	}
    	
    	
    	.about section p {
    		width: 200px;
    		margin: 20px auto;
    	}
    
    
    	footer {
    		padding: 10px 10px 0px 10px;
    	}

		footer > div .last {
			width: 200px;
			margin-top: 0;
			margin-bottom: 0px;
		}
		
		footer form .input, footer form textarea {
			width: 180px;
		}
		
		
		
		
		
		
		
/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    
